{% extends 'layout.html'%} {% block content %}
<h1>Initial setup</h1>
<p>Please create a single user, that will be able to login and manage this app.</p>
<p>Warning: For now there is no possibility to change the user info, so don't forget your credentials. If you forget them, you need to delete the user from the database. After that you will be prompted to create new one.</p>
<form method="POST" action="/initial_setup">
    {{ form.csrf_token() }}
    <div class="form-group form-field">
        {{ form.username.label }}
        {{ form.username(class_="form-control", placeholder="Your username") }}
        {% if form.username.errors %}
        <ul class="errors list-group list-group-flush">
          {% for error in form.username.errors %}
            <li class="list-group-item d-flex justify-content-between align-items-center"><span class="text-danger mr-5">ERROR: {{ error }}</span><span class="badge badge-danger badge-pill text-right">!</span></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="form-group form-field">
        {{ form.password.label }}
        {{ form.password(class_="form-control") }}
        {% if form.password.errors %}
        <ul class="errors list-group list-group-flush">
          {% for error in form.password.errors %}
            <li class="list-group-item d-flex justify-content-between align-items-center"><span class="text-danger mr-5">ERROR: {{ error }}</span><span class="badge badge-danger badge-pill text-right">!</span></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="form-group form-field">
        {{ form.confirm.label }}
        {{ form.confirm(class_="form-control") }}
        {% if form.confirm.errors %}
        <ul class="errors list-group list-group-flush">
          {% for error in form.confirm.errors %}
            <li class="list-group-item d-flex justify-content-between align-items-center"><span class="text-danger mr-5">ERROR: {{ error }}</span><span class="badge badge-danger badge-pill text-right">!</span></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    {{ form.submit(class_="btn btn-primary")}}
</form>

{% endblock %}