<header>
  <nav class="navbar navbar-default navbar-expand-xl navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Ytopod</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        {% for link in nav %}
            {% if link.active %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
            <a class="nav-link" href="{{ link.url }}">
            {{ link.name }} {% if link.active %}
            <span class="sr-only">(current)</span>
            {% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
